/*                KEY POSITIONS
╭────────────────────────╮ ╭────────────────────────╮
│  0   1   2   3   4   5 │ │  6   7   8   9  10  11 │
│ 12  13  14  15  16  17 │ │ 18  19  20  21  22  23 │
│ 24  25  26  27  28  29 │ │ 30  31  32  33  34  35 │
╰───────────╮ 36  37  38 │ │ 39  40  41 ╭───────────╯
            ╰────────────╯ ╰────────────╯          */

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM) \
        combo_##NAME { \
            timeout-ms = <TERM>; \
            bindings = <BINDINGS>; \
            key-positions = <KEYPOS>; \
            layers = <LAYERS>; \
        };

/ {
    combos {
        compatible = "zmk,combos";
        
// Numbers
COMBO(n1,         &kp N1,            1 13, DEF GRN RED, 40)
COMBO(n2,         &kp N2,            2 14, DEF GRN RED, 40)
COMBO(n3,         &kp N3,            3 15, DEF GRN RED, 40)
COMBO(n4,         &kp N4,            4 16, DEF GRN RED, 40)
COMBO(n5,         &kp N5,            5 17, DEF GRN RED, 40)
COMBO(n6,         &kp N6,            6 18, DEF GRN RED, 40)
COMBO(n7,         &kp N7,            7 19, DEF GRN RED, 40)
COMBO(n8,         &kp N8,            8 20, DEF GRN RED, 40)
COMBO(n9,         &kp N9,            9 21, DEF GRN RED, 40)
COMBO(n0,         &kp N0,           10 22, DEF GRN RED, 40)
        
// Brackets
COMBO(lpar,       &kp LPAR,         16 28, DEF GRN RED, 40)
COMBO(rpar,       &kp RPAR,         19 31, DEF GRN RED, 40)
COMBO(lbkt,       &kp LBKT,         15 27, DEF GRN RED, 40)
COMBO(rbkt,       &kp RBKT,         20 32, DEF GRN RED, 40)
COMBO(lbrc,       &kp LBRC,         14 26, DEF GRN RED, 40)
COMBO(rbrc,       &kp RBRC,         21 33, DEF GRN RED, 40)
COMBO(lt,         &kp LT,           17 29, DEF GRN RED, 40)
COMBO(gt,         &kp GT,           18 30, DEF GRN RED, 40)

// Control & Whitespace
COMBO(esc,        &kp ESC,           2 16, DEF GRN RED, 40)
COMBO(tab,        &kp TAB,          14 16, DEF GRN RED, 40)
COMBO(del,        &kp DEL,           9 19, DEF GRN RED, 40)
COMBO(bspc,       &kp BSPC,         19 21, DEF GRN RED, 40)
COMBO(cwrd,       &caps_word,       25 34, DEF GRN RED, 60)

// Navigation
COMBO(lcleft,     &kp LC(LEFT),     19 20, GRN, 40)
COMBO(lcright,    &kp LC(RIGHT),    20 21, GRN, 40)
COMBO(lchome,     &kp LC(HOME),     19 20, GRN, 40)
COMBO(lcend,      &kp LC(END),      20 21, GRN, 40)
    };
};
