#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

            //  #           #           #           #           #           #           #           #           #           #           #           #           #           #
        ground {
            bindings = <
                &none       &none       &kp TAB     &kp W       &kp F       &kp G                   &kp M       &kp L       &kp U       &kp BSPC    &none       &none
                &none       &none       &kp LSHFT   &kp A       &kp R       &kp S                   &kp N       &kp E       &kp I       &kp DEL     &none       &none
                &none       &none       &none       &kp C       &kp D       &kp T                   &kp H       &kp O       &kp Y       &none       &none       &none
                                                    &kp LGUI    &kp LALT    &kp SPACE               &kp ENTER   &kp BSPC    &mo 2
            >;
        };
    };
};
